@charset "UTF-8"; /* 인코딩 지정 */

/* reset CSS */
* {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	font-size: 16px;
}

div {
	font-size: 40px;
}

div h1 {
	font-size: 3em;
}

div p {
	font-size: 1em;
}

div a {
	font-size: 0.8em;
}
