@charset "UTF-8"; /* 인코딩 지정 */

/* reset CSS */
* {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.box1 {
	width: 400px;
	height: 400px;
	background: aqua;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.box2 {
	width: 400px;
	height: 400px;
	background: hotpink;
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 1;
}
